@charset "UTF-8";

@keyframes show {
    from { opacity: 0; translate: 100%; }
    to { opacity: 1; translate: 0%; }
}

@keyframes hide {
    from { opacity: 1; translate: 0%; }
    to { opacity: 0; translate: 100%; }
}

body {
    background-color: rgb(235, 235, 235);
    overflow-x: hidden;
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header header'
            'nav main'
            'footer footer'
        ;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 9fr 1fr;
    }
    
    header {
        display: flex;
        background-color: white;
        grid-area: header;
    }
    
    .banner {
        flex: 1 1 20%;
    }
    
    .banner h1 {
        height: 100%;
        margin: 0;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        align-content: center;
        user-select: none;
    }
    
    .navbar {
        flex: 1 1 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        user-select: none;
        background-color: rgb(252, 252, 252);
    }
    
    .navbar-item {
        flex-basis: 40%;
        height: 70%;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-family: sans-serif;
        font-size: 1.1vw;
        font-weight: bold;
        color: black;
        padding-left: 10%;
        padding-right: 10%;
        transition: background-color 0.3s;
    }
    
    .navbar-item:hover {
        transition: all 0.3s;
        background-color: lightgray;
    }
    
    .searchbar {
        flex: 1 1 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        user-select: none;
        background-color: rgb(252, 252, 252);
    }
    
    .searchbar input {
        flex-basis: 80%;
        height: 50%;
        border: solid 1px;
        border-radius: 100px;
        font-size: 1.1vw;
        text-indent: 3%;
    }
    
    .searchbar button {
        flex-basis: 10%;
        background: none;
        border: none;
        padding-left: 0%;
        padding-right: 0%;
        cursor: pointer;
    }
    
    .filterbar {
        flex: 1 1 25%;
        display: flex;
        background-color: rgb(252, 252, 252);
        align-items: center;
        justify-content: center;
    }
    
    .filterbar select {
        flex-basis: 50%;
        height: 60%;
        text-indent: 5%;
        font-size: 1.1vw;
        border: solid 1px;
        border-radius: 100px;
        outline: none;
    }
    
    .filterbar button {
        flex-basis: 10%;
        height: 60%;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 3%;
    }
    
    .user {
        flex: 1 1 20%;
        text-align: center;
        align-content: center;
        user-select: none;
        background-color: rgb(252, 252, 252);
        display: flex;
	    align-items: center;
	    justify-content: center;
    }
    
    .user a {
		flex: 0 0 15%;
		height: 50%;
		cursor: pointer;
		border: none;
		background: none;
        padding: 3%;
	}
	
	.user p {
		margin: 0;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 1.1vw;
	}
    
    .side-navbar {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        background-color: white;
        row-gap: 1.5%;
        overflow-y: auto;
        user-select: none;
    }
    
    .side-navbar-item {
        display: flex;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 1.2vw;
        padding: 5%;
        align-items: center;
        cursor: pointer;
        transition:  background-color 0.2s;
    }
    
    .side-navbar-item:hover {
        transition: all 0.2s;
        background-color: lightgray;
        box-shadow: 5px 5px 5px gray;
    }
    
    .side-navbar-item img {
        margin-left: 5%;
    }
    
    .side-navbar-item span {
        color: black;
        margin-left: 5%;
        letter-spacing: 1px;
    }
    
    hr {
        width: 90%;
    }
    
    main {
        grid-area: main;
        user-select: none;
        justify-items: center;
        min-width: 0;
        overflow-y: auto;
        scrollbar-width: thin;
    }

    .cart-container {
        width: 97%;
        margin: 1.5% 0%;
        background-color: white;
    }

    .cart-container table {
        width: 100%;
        font-family: sans-serif;
        font-size: 1.2vw;
        border-collapse: collapse;
        box-shadow: 5px 5px 5px gray;
    }

    .cart-container th {
        padding: 1%;
        background-color: white;
        border-bottom: solid 1px;
    }

    .cart-container th:first-child {
        width: 15%;
    }

    .cart-container th:nth-child(2) {
        width: 25%;
    }

    .cart-container th:nth-child(3) {
        width: 25%;
    }
    
    .cart-container tr:nth-child(odd) {
        background-color: rgb(245, 245, 245);
    }

    .cart-container td {
        padding: 1%;
        text-align: center;
        font-size: 1.2vw;
        border-bottom: solid 1px lightgray;
    }

    .cart-container a {
        padding: 2% 4%;
        border-radius: 2px;
        border: none;
        text-decoration: none;
        font-size: 1.1vw;
        color: white;
        cursor: pointer;
    }

    .cart-container a:first-child, 
    .cart-container a:nth-child(2) {
        background-color: rgb(0, 123, 255);
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(0, 100, 210);
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    .cart-container a:last-child {
        background-color: rgb(220, 53, 69);
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(180, 40, 55);
            color: #e2e6ea;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    .payment-container {
        position: absolute;
        top: 10%;
        right: 0%;
        width: 30%;
        border-top-left-radius: 0.8vw;
        border-bottom-left-radius: 0.8vw;
        height: 80%;
        background-color: white;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        row-gap: 1%;
        box-shadow: -0.3vw 0.2vw 0.5vw gray;
        translate: 100%;
        opacity: 0;
    }

    .payment-container h2 {
        flex: 0 0 10%;
        text-align: center;
        align-content: center;
        font-size: 2vw;
        margin: 0;
    }

    .payment-info-group {
        flex: 0 0 10%;
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .payment-info-group label {
        flex: 0 0 30%;
        font-size: 1vw;
        align-content: center;
    }

    .payment-info-group select,
    .payment-info-group input {
        font-size: 1.1vw;
        font-family: sans-serif;
        padding: 2%;
        border-radius: 0.4vw;
        border-width: 0.1vw;
        outline: none;
    }

    .payment-info-group select {
        flex: 0 0 60%;
    }

    .payment-info-group input {
        flex: 0 0 30%;
    }

    .payment-container-divider {
        flex: 0 0 1%;
    }

    .cod-container {
        flex: 0 0 65%;
        display: flex;
        flex-direction: column;
    }

    .visa-container {
        flex: 0 0 65%;
        flex-direction: column;
        row-gap: 5%;
        display: none;
    }

    #visa-error-message {
        flex: 0 0 5%;
        width: 90%;
        margin: 0 auto;
        align-content: center;
        color: red;
        font-size: 1vw;
        font-family: sans-serif;
    }
    
    .visa-container > div:last-child {
    	flex: 0 0 18%;
		text-align: center;
		align-content: center;
    }

	.cod-container > div:last-child {
		flex: 0 0 91.8%;
		text-align: center;
		align-content: end;
	}

    .visa-container > div:last-child input,
    .cod-container > div:last-child input {
        border: none;
        border-radius: 0.2vw;
        font-size: 1.1vw;
        padding: 2% 4%;
        cursor: pointer;
        margin: 0% 1%;
    }

    .visa-container > div:last-child input:first-child,
    .cod-container > div:last-child input:first-child {
        background-color: rgb(0, 123, 255);
        color: white;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(0, 100, 210);
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    .visa-container > div:last-child input:last-child,
    .cod-container > div:last-child input:last-child {
        background-color: rgb(220, 53, 69);
        color: white;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(180, 40, 55);
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }
    
    footer {
        grid-area: footer;
        background-color: white;
        text-align: center;
        font-style: italic;
        font-size: 1.2vw;
        user-select: none;
        align-content: center;
    }

}