@charset "UTF-8";

body {
    background-color: rgba(38, 38, 38);
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header main'
            'nav main'
            'footer footer'
        ;
        grid-template-rows: 1fr 9fr 1fr;
        grid-template-columns: 1fr 4fr;
        user-select: none;
    }

    header {
        grid-area: header;
        display: flex;
    }

    header h1 {
        flex: 0 0 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        color: #ecf0f1;
    }

    .side-navbar {
        grid-area: nav;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    .side-navbar hr {
        width: 90%;
    }

    .side-navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: none;
        justify-items: center;
        
    }

    .side-navbar li:not(.welcome-user) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        cursor: pointer;
        align-content: center;
        display: flex;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
            background-color: #495057;
            box-shadow: 5px 5px 10px #212529;
            transition: background-color 0.2s, box-shadow 0.2s;
        }
    }

    .side-navbar li:nth-child(2) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        align-content: center;
        display: flex;
    }

    .side-navbar li a {
        color: #ecf0f1;
        text-decoration: none;
        text-indent: 5%;
        letter-spacing: 0.05vw;
        flex: 0 0 90%;
        align-content: center;
    }

    .side-navbar li div {
        flex: 0 0 10%;
        text-align: center;
        align-content: center;
    }

    .side-navbar li img {
        margin-top: 20%;
        margin-left: 20%;
        filter: invert(90%);
    }

    main {
        grid-area: main;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
		overflow: hidden;
    }

    .dashboard-content {
        flex: 0 0 15%;
        width: 97%;
        display: flex;
        overflow-y: auto;
        scrollbar-width: thin;
        justify-content: space-around;
        align-items: center;
    }

    .card {
        position: relative;
        flex: 0 0 23%;
        height: 80%;
        border-radius: 0.5vw;
        cursor: pointer;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        justify-content: center;
        transition: box-shadow 0.2s;
        &:hover {
            box-shadow: 0.2vw 0.2vw 0.6vw #212529;
            transition: box-shadow 0.2s;
        }
    }

    .card h2 {
        margin: 0;
        z-index: 1;
        text-indent: 8%;
        font-size: 1.8vw;
    }

    .card img {
        position: absolute;
        top: 10%;
        left: 60%;
        rotate: 20deg;
        z-index: 0;
    }

    .card:first-child {
        background-color: rgba(244, 67, 54, 0.3);
    }

    .card:nth-child(2) {
        background-color: rgba(76, 175, 80, 0.3);
    }

    .card:nth-child(3) {
        background-color: rgba(66, 135, 245, 0.3);
    }

    .card:last-child {
        background-color: rgba(255, 193, 7, 0.3);
    }

    #book-card {
        color: rgba(244, 67, 54, 1);
    }

    #revenue-card {
        color: rgba(76, 175, 80, 1);
    }

    #order-card {
        color: rgba(66, 135, 245, 1);
    }

    #customer-card {
        color: rgba(255, 193, 7, 1);
    }

    .chart-container {
        width: 97%;
        flex: 0 0 78%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: auto;
    }
    
    .chart-wrapper {
    	flex: 0 0 75%;
    	overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
        scrollbar-width: thin;
    }

    #canva {
        height: 100%;
        margin: 0 auto;
    }

    .chart-container > div:last-child {
        flex: 0 0 25%;
        height: 100%;
        text-align: center;
        font-family: sans-serif;
        letter-spacing: 0.05vw;
    }

    .chart-container > div:last-child h3 {
        font-size: 1.5vw;
        margin: 5% 0%;
    }

    .chart-container > div:last-child select {
        width: 90%;
        height: 8%;
        text-indent: 1%;
        border: solid 0.1vw lightgray;
        border-radius: 0.2vw;
        font-size: 1vw;
        &:focus {
            outline: 0.3vw solid rgba(0, 98, 255, 0.5);
            border: solid 0.1vw #0d6efd;
        }
    }

    footer {
        grid-area: footer;
        text-align: center;
        font-size: 1.2vw;
        align-content: center;
        color: #ecf0f1;
    }
}