@charset "UTF-8";

body {
    background-color: rgb(235, 235, 235);
}

@media only screen and (min-width: 1024px) {
	.container {
	    position: absolute;
	    top: 0%;
	    left: 0%;
	    width: 100%;
	    height: 100%;
	    display: grid;
	    grid-template-areas: 
	        'header header'
	        'nav main'
	        'footer footer'
	    ;
	    grid-template-columns: 1fr 4fr;
	    grid-template-rows: 1fr 9fr 1fr;
	}
	
	header {
	    display: flex;
	    background-color: white;
	    grid-area: header;
	}
	
	.banner {
	    flex: 1 1 20%;
	}
	
	.banner h1 {
	    height: 100%;
	    margin: 0;
	    text-align: center;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    font-size: 2.5vw;
	    letter-spacing: 0.2vw;
	    align-content: center;
	    user-select: none;
	}
	
	.navbar {
	    flex: 1 1 10%;
	    display: flex;
	    justify-content: space-evenly;
	    align-items: center;
	    user-select: none;
	    background-color: rgb(252, 252, 252);
	}
	
	.navbar-item {
	    flex-basis: 40%;
	    height: 70%;
	    text-align: center;
	    text-decoration: none;
	    align-content: center;
	    font-family: sans-serif;
	    font-size: 1.1vw;
	    font-weight: bold;
	    color: black;
	    padding-left: 10%;
	    padding-right: 10%;
	    transition: background-color 0.3s;
	}
	
	.navbar-item:hover {
	    transition: all 0.3s;
	    background-color: lightgray;
	}
	
	.searchbar {
	    flex: 1 1 25%;
	    display: flex;
	    align-items: center;
	    justify-content: space-evenly;
	    user-select: none;
	    background-color: rgb(252, 252, 252);
	}
	
	.searchbar input {
	    flex-basis: 80%;
	    height: 50%;
	    border: solid 1px;
	    border-radius: 100px;
	    font-size: 1.1vw;
	    text-indent: 3%;
	}
	
	.searchbar button {
	    flex-basis: 10%;
	    background: none;
	    border: none;
	    padding-left: 0%;
	    padding-right: 0%;
	    cursor: pointer;
	}
	
	.filterbar {
	    flex: 1 1 25%;
	    display: flex;
	    background-color: rgb(252, 252, 252);
	    align-items: center;
	    justify-content: center;
	}
	
	.filterbar select {
	    flex-basis: 50%;
	    height: 60%;
	    text-indent: 5%;
	    font-size: 1.1vw;
	    border: solid 1px;
	    border-radius: 100px;
	    outline: none;
	}
	
	.filterbar button {
	    flex-basis: 10%;
	    height: 60%;
	    background: none;
	    border: none;
	    cursor: pointer;
	    margin-left: 3%;
	}
	
	.user {
	    flex: 1 1 20%;
	    text-align: center;
	    align-content: center;
	    user-select: none;
	    background-color: rgb(252, 252, 252);
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	
	.user a {
	    font-family: sans-serif;
	    font-size: 14px;
	    color: black;
	    text-decoration: none;
	    border: solid 1px;
	    border-radius: 100px;
	    padding: 3%;
	    transition: background-color 0.2s;
	}
	
	.user a:hover {
	    transition: all 0.2s;
	    background-color: black;
	    color: white;
	}
	
	#profile {
		flex: 0 0 15%;
		height: 50%;
		cursor: pointer;
		border: none;
		background: none;
	}
	
	.user p {
		margin: 0;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 1.1vw;
	}
	
	.side-navbar {
	    grid-area: nav;
	    display: flex;
	    flex-direction: column;
	    background-color: white;
	    row-gap: 1.5%;
	    overflow-y: auto;
	    user-select: none;
	}
	
	.side-navbar-item {
	    display: flex;
	    text-decoration: none;
	    font-family: sans-serif;
	    font-size: 1.2vw;
	    padding: 5%;
	    align-items: center;
	    cursor: pointer;
	    transition:  background-color 0.2s;
	}
	
	.side-navbar-item:hover {
	    transition: all 0.2s;
	    background-color: lightgray;
	    box-shadow: 5px 5px 5px gray;
	}
	
	.side-navbar-item img {
	    margin-left: 5%;
	}
	
	.side-navbar-item span {
	    color: black;
	    margin-left: 5%;
	    letter-spacing: 1px;
	}
	
	hr {
	    width: 90%;
	}
	
	.discover-container {
	    grid-area: main;
	    display: grid;
	    grid-template-areas: 
	        'recommended recommended latest'
	        'categories categories latest';
	    ;
	    grid-template-rows: 1fr 1fr;
	    grid-template-columns: 2fr 2fr 1.3fr;
	    user-select: none;
	}
	
	.discover-recommended-container {
	    grid-area: recommended;
	    border-radius: 6px;
	    background-color: white;
	    margin: 2%;
	    margin-bottom: 1%;
	}
	
	.discover-recommended-container > div:first-child {
	    width: 100%;
	    height: 20%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
	
	.discover-recommended-container > div:first-child p {
	    flex-basis: 90%;
	    margin: 0;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    font-size: 1.1vw;
	    font-weight: bold;
	    color:rgb(0, 0, 87);
	    letter-spacing: 1px;
	    text-indent: 2%;
	}
	
	.discover-recommended-container > div:first-child div {
	    flex-basis: 10%;
	    display: flex;
	}
	
	.discover-recommended-container > div:first-child div a {
	    text-decoration: none;
	    font-size: 0.9vw;
	    font-weight: bold;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    color: #0d6efd;
	    background-color: #e2eeff;
	    padding: 4% 8%;
	    border-radius: 4px;
	    letter-spacing: 1q;
	    transition: background-color 0.2s;
	    &:hover {
	        background-color: #c8ddff;
	        transition: all 0.2s;
	    }
	}
	
	.discover-recommended-container > div:last-child {
	    width: 100%;
	    height: 80%;
	    display: flex;
	    justify-content: space-evenly;
	}
	
	.discover-recommended-book {
	    min-width: 0;
	    flex-basis: 20%;
	    height: 95%;
	    display: flex;
	    flex-direction: column;
	    border-radius: 5px;
	    cursor: pointer;
	    transition: box-shadow 0.2s;
	    &:hover {
            box-shadow: 5px 5px 5px gray;
            transition: all 0.2s;
        }
	}
	
	.discover-recommended-book img {
	    flex-basis: 80%;
	    width: 60%;
	    max-width: 100%;
	    max-height: 80%;
	    object-fit: contain;
	    align-self: center;
	    border-radius: 0.3vw;
	}
	
	.discover-recommended-book p {
		flex-basis: 10%;
	    margin: 0;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    text-indent: 5%;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    background-color: rgb(249, 249, 249);
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	
	.discover-recommended-book p:nth-child(2) {
	    font-size: 1vw;
	    font-weight: bold;
	}
	
	.discover-recommended-book p:last-child {
	    font-size: 0.8vw;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	}
	
	.discover-categories-container {
	    grid-area: categories;
	    border-radius: 6px;
	    background-color: white;
	    margin: 2%;
	    margin-top: 1%;
	}
	
	.discover-categories-container > div:first-child {
	    width: 100%;
	    height: 18.5%;
	    display: flex;
	    align-items: center;
	}
	
	.discover-categories-container > div:first-child p {
	    width: 100%;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    font-size: 1.1vw;
	    font-weight: bold;
	    color:rgb(0, 0, 87);
	    letter-spacing: 1px;
	    text-indent: 2%;
	}
	
	.discover-categories-container > div:nth-child(2) {
	    width: 96%;
	    height: 16.5%;
	    margin: 0 auto;
	    align-items: start;
	    display: flex;
	    overflow-x: auto;
		overflow-y: hidden;
		scrollbar-width: thin;
	}
	
	.discover-categories-container > div:nth-child(2) button {
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    font-size: 1vw;
	    padding: 0.5% 1.5%;
	    border-radius: 4px;
	    color: rgb(0, 0, 87);
	    background-color: #c8ddff;
	    margin: 0% 0.5%;
	    border: none;
	    cursor: pointer;
	    transition: background-color 0.2s, color 0.2s;
	}
	
	.discover-categories-container > div:nth-child(2) button:first-child {
		color: white;
		background-color: #0d6efd;
	}
	
	.discover-category-book-list {
	    width: 96%;
	    height: 61%;
	    display: flex;
	    justify-content: flex-start;
	    overflow-x: auto;
	    overflow-y: hidden;
	    scrollbar-width: thin;
	    margin: 0 auto;
	}
	
	.discover-category-book {
	    min-width: 0;
	    flex: 0 0 16%;
	    border-radius: 5px;
	    display: flex;
	    flex-direction: column;
	    margin: 0% 1%;
	    min-width: 0;
	    min-height: 0;
	    cursor: pointer;
	    transition: box-shadow 0.2s;
	    &:hover {
            box-shadow: 5px 5px 5px gray;
            transition: all 0.2s;
        }
	}
	
	.discover-category-book img {
	    width: 50%;
	    max-width: 50%;
	    max-height: 80%;
	    object-fit: contain;
	    flex-basis: 80%;
	    border-radius: 0.2vw;
	    margin: 0 auto;
	}
	
	.discover-category-book p {
	    flex-basis: 10%;
	    margin: 0;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	    text-indent: 5%;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    background-color: rgb(249, 249, 249);
	}
	
	.discover-category-book p:nth-child(2) {
	    font-weight: bold;
	    overflow-x: hidden;
	    font-size: 0.75vw;
	}
	
	.discover-category-book p:last-child {
	    font-size: 0.65vw;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	}
	
	.discover-active-book-container {
	    grid-area: latest;
	    background-color: rgb(0, 0, 76);
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    min-width: 0;
	}
	
	.discover-active-book-container > div:first-child {
	    width: 100%;
	    flex-basis: 50%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-color: white;
	}
	
	.discover-active-book-container img {
	    max-width: 60%;
	    max-height: 90%;
	    color: white;
	    border: solid 1px;
	    border-radius: 5px;
	    object-fit: contain;
	}
	
	.discover-active-book-container > div:last-child {
	    width: 100%;
	    flex-basis: 50%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    border-color: white;
	    color: white;
	}
	
	.discover-active-book-container > div:last-child * {
	    margin: 0;
	    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
	    text-align: center;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    align-content: center;
	}
	
	.discover-active-book-container > div:last-child h2 {
	    flex: 0 0 15%;
	    width: 90%;
	    font-size: 1.4vw;
	}
	
	.discover-active-book-container > div:last-child h3 {
	    flex-basis: 10%;
	    width: 90%;
	    font-weight: normal;
	    font-size: 1.1vw;
	}
	
	.discover-active-book-container > div:last-child div {
		display: flex;
		flex-basis: 15%;
	}
	
	.discover-active-book-container > div:last-child div h4 {
		display: flex;
		font-size: 1.3vw;
	    width: 90%;
	}
	
	.discover-active-book-container > div:last-child textarea {
	    flex: 0 0 40%;
	    width: 90%;
	    outline: none;
	    resize: none;
	    background: none;
	    border: none;
	    color: white;
	    text-overflow: clip;
	    font-size: 1vw;
	}
	
	.discover-active-book-container > div:last-child a {
		flex-basis: 12%;
		padding: 0% 5%;
		text-decoration: none;
		font-size: 0.9vw;
		color: white;
		border-radius: 5px;
		background-color: #0d6efd;
		transition: color 0.2s, background-color 0.2s;
		&:hover {
			color: rgb(0, 0, 76);
			background-color: #c8ddff;
			transition: all 0.2s;
		}
	}
	
	footer {
	    grid-area: footer;
	    background-color: white;
	    text-align: center;
	    font-style: italic;
	    font-size: 1.2vw;
	    user-select: none;
	    align-content: center;
	}
}