@charset "UTF-8";

body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

@media only screen and (min-width: 1024px) {

    .login-form {
        position: absolute;
        top: 15%;
        left: 35%;
        width: 30%;
        height: 70%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 8px 8px gray;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        row-gap: 2%;
        user-select: none;
    }

    h2 {
        flex: 0 0 12%;
        text-align: center;
        font-style: italic;
        align-content: center;
        margin: 0;
    }

    .login-input-group {
        flex: 0 0 12%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-input-group > label {
        flex: 0 0 50%;
        width: 100%;
        align-content: center;
        text-indent: 9%;
        font-size: 13px;
        margin: 0%;
    }

    .login-input-group > label img {
        margin: -1% 0%;
    }

    .login-input-group > div {
        flex: 0 0 50%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .login-input-group > div input {
        flex: 0 0 80%;
        width: 80%;
        height: 80%;
        margin: 0 auto;
        outline: none;
        border: solid 1px;
        border-radius: 4px;
        border-color: gray;
        text-indent: 2%;
    }

    .login-form > div:nth-last-child(3) {
        flex: 0 0 4%;
        font-size: 12px;
        width: 81.5%;
        margin: 0 auto;
        align-content: center;
        text-align: right;
        display: flex;
    }

    .login-form > div:nth-last-child(3) p {
        flex: 0 0 67%;
        margin: 0;
        text-align: left;
        color: red
    }

    .login-form > div:nth-last-child(3) a {
        flex: 0 0 33%;
        text-align: right;
        color: purple;
        transition: color 0.15s;
        &:hover {
            color: orange;
            transition: color 0.15s;
        }
    }

    .login-form > div:nth-last-child(2) {
        flex: 0 0 8%;
        width: 81%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-form > div:nth-last-child(2) button {
        border: none;
        border-radius: 2px;
        padding: 2% 4%;
        font-size: 13px;
        color: white;
        background-color: #0d6efd;
        cursor: pointer;
        transition: color 0.2s, background-color 0.2s;
        &:hover {
            color: #e2e6ea;
            background-color: #084bcc;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    .login-form > div:nth-last-child(2) a {
        font-size: 13px;
        text-decoration: none;
        color: #0d6efd;
        border: solid 1px;
        border-radius: 2px;
        border-color: #0d6efd;
        padding: 1.8% 3.5%;
        transition: color 0.2s, background-color 0.2s;
        &:hover {
            color: #0d52b8;
            background-color: #e2e6ea;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    .login-form > div:last-child {
        flex: 0 0 28%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .login-form > div:last-child p {
        flex: 0 0 20%;
        margin: 0;
        font-size: 13px;
        align-content: center;
    }

    .login-form > div:last-child div {
        flex: 0 0 22%;
    }

    .sign-up-links a img {
        border: solid 1px;
        border-color: gray;
        border-radius: 50%;
    }

    .login-form > div:last-child div a {
        font-size: 13px;
        color: black;
        transition: color 0.15s;
        &:hover {
            color: orange;
            transition: color 0.15s;
        }
    }

    hr {
        margin: 1%;
        visibility: hidden;
    }

}