@charset "UTF-8";

@charset "UTF-8";

body {
    background-color: rgb(235, 235, 235);
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header header'
            'nav main'
            'footer footer'
        ;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 9fr 1fr;
    }
    
    header {
        display: flex;
        background-color: white;
        grid-area: header;
    }
    
    .banner {
        flex: 1 1 20%;
    }
    
    .banner h1 {
        height: 100%;
        margin: 0;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        align-content: center;
        user-select: none;
    }
    
    .navbar {
        flex: 1 1 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        user-select: none;
        background-color: rgb(252, 252, 252);
    }
    
    .navbar-item {
        flex-basis: 40%;
        height: 70%;
        text-align: center;
        text-decoration: none;
        align-content: center;
        font-family: sans-serif;
        font-size: 1.1vw;
        font-weight: bold;
        color: black;
        padding-left: 10%;
        padding-right: 10%;
        transition: background-color 0.3s;
    }
    
    .navbar-item:hover {
        transition: all 0.3s;
        background-color: lightgray;
    }
    
    .searchbar {
        flex: 1 1 25%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        user-select: none;
        background-color: rgb(252, 252, 252);
    }
    
    .searchbar input {
        flex-basis: 80%;
        height: 50%;
        border: solid 1px;
        border-radius: 100px;
        font-size: 1.1vw;
        text-indent: 3%;
    }
    
    .searchbar button {
        flex-basis: 10%;
        background: none;
        border: none;
        padding-left: 0%;
        padding-right: 0%;
        cursor: pointer;
    }
    
    .filterbar {
        flex: 1 1 25%;
        display: flex;
        background-color: rgb(252, 252, 252);
        align-items: center;
        justify-content: center;
    }
    
    .filterbar select {
        flex-basis: 50%;
        height: 60%;
        text-indent: 5%;
        font-size: 1.1vw;
        border: solid 1px;
        border-radius: 100px;
        outline: none;
    }
    
    .filterbar button {
        flex-basis: 10%;
        height: 60%;
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 3%;
    }
    
    .user {
        flex: 1 1 20%;
        text-align: center;
        align-content: center;
        user-select: none;
        background-color: rgb(252, 252, 252);
        display: flex;
	    align-items: center;
	    justify-content: center;
    }
    
    #profile {
		flex: 0 0 15%;
		height: 50%;
		cursor: pointer;
		border: none;
		background: none;
		padding: 3%;
	}
	
	.user p {
		margin: 0;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 1.1vw;
	}
    
    .side-navbar {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        background-color: white;
        row-gap: 1.5%;
        overflow-y: auto;
        user-select: none;
    }
    
    .side-navbar-item {
        display: flex;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 1.2vw;
        padding: 5%;
        align-items: center;
        cursor: pointer;
        transition:  background-color 0.2s;
    }
    
    .side-navbar-item:hover {
        transition: all 0.2s;
        background-color: lightgray;
        box-shadow: 5px 5px 5px gray;
    }
    
    .side-navbar-item img {
        margin-left: 5%;
    }
    
    .side-navbar-item span {
        color: black;
        margin-left: 5%;
        letter-spacing: 1px;
    }
    
    hr {
        width: 90%;
    }
    
    main {
        grid-area: main;
        user-select: none;
        align-content: center;
        justify-items: center;
        min-width: 0;
    }

    .user-info-container {
        width: 97%;
        height: 94%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        background-color: white;
    }

    .user-info-group {
        flex: 0 0 12%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-size: 1vw;
    }

    .user-info-group label {
        flex: 0 0 50%;
        align-content: end;
    }

    .user-info-group label img {
        margin-bottom: -0.2%;
    }

    .user-info-group input {
        flex: 0 0 40%;
        border: solid 1px;
        border-color: gray;
        border-radius: 2px;
        text-indent: 0.5%;
        font-size: 1.1vw;
        outline: none;
    }

    .user-info-container > p {
        flex: 0 0 6%;
        width: 90%;
        font-family: sans-serif;
        font-size: 1vw;
        color: red;
        align-content: center;
        margin: 0 auto;
    }

    .user-info-action-button-group {
        flex: 0 0 10%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .user-info-action-button-group button {
        flex: 0 0 8%;
        height: 70%;
        padding: 0% 2%;
        margin: 0% 0.5%;
        font-size: 1.05vw;
    }

    #edit {
        background-color: rgb(0, 123, 255);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition:  color 0.2s, background-color 0.2s;
        &:hover {
            background-color: rgb(0, 100, 210);
            color: #e2e6ea;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    #save {
        background-color: rgb(40, 167, 69);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        visibility: hidden;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(30, 130, 55);
            color: #e2e6ea;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    #cancel {
        background-color: rgb(220, 53, 69);
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        visibility: hidden;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: rgb(180, 40, 55);
            color: #e2e6ea;
            transition: color 0.2s, background-color 0.2s;
        }
    }
    
    footer {
        grid-area: footer;
        background-color: white;
        text-align: center;
        font-style: italic;
        font-size: 1.2vw;
        user-select: none;
        align-content: center;
    }

}