@charset "UTF-8";

body {
    background-color: rgba(38, 38, 38);
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header main'
            'nav main'
            'footer footer'
        ;
        grid-template-rows: 1fr 9fr 1fr;
        grid-template-columns: 1fr 4fr;
        user-select: none;
    }

    header {
        grid-area: header;
        display: flex;
    }

    header h1 {
        flex: 0 0 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        color: #ecf0f1;
    }

    .side-navbar {
        grid-area: nav;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    .side-navbar hr {
        width: 90%;
    }

    .side-navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: none;
        justify-items: center;
    }

    .side-navbar li:not(.welcome-user) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        cursor: pointer;
        align-content: center;
        display: flex;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
            background-color: #495057;
            box-shadow: 5px 5px 10px #212529;
            transition: background-color 0.2s, box-shadow 0.2s;
        }
    }

    .side-navbar li:nth-child(2) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        align-content: center;
        display: flex;
    }

    .side-navbar li a {
        color: #ecf0f1;
        text-decoration: none;
        text-indent: 5%;
        letter-spacing: 0.05vw;
        flex: 0 0 90%;
        align-content: center;
    }

    .side-navbar li div {
        flex: 0 0 10%;
        text-align: center;
        align-content: center;
    }

    .side-navbar li img {
        margin-top: 20%;
        margin-left: 20%;
        filter: invert(90%);
    }

    main {
        grid-area: main;
        background-color: white;
    }

    .publisher-manager-container {
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        display: grid;
        grid-template-areas: 
            'bheader'
            'blist'
        ;
        grid-template-rows: 1fr 7fr;
    }

    .publisher-manager-header {
        grid-area: bheader;
        display: flex;
        background-color: rgba(51, 51, 51);
    }

    .publisher-manager-add {
        flex: 0 0 20%;
        text-align: end;
        align-content: center;
    }

    .publisher-manager-add a {
        text-decoration: none;
        font-size: 1.1vw;
        color: white;
        background-color: #0d6efd;
        padding: 4% 8%;
        border-radius: 0.3vw;
        transition: color 0.2s background-color 0.2s;
        &:hover {
            background-color: #0b5ed7;
            color: #e2e6ea;
            transition: color 0.2s background-color 0.2s;
        }
    }

    .publisher-manager-search {
        flex: 0 0 40%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .publisher-manager-search input {
        flex: 0 0 70%;
        height: 45%;
        font-size: 1.1vw;
        text-indent: 3%;
        border: solid 0.1vw gray;
        border-radius: 100vw;
        outline: none;
    }

    .publisher-manager-search div {
        flex: 0 0 10%;
        height: 45%;
    }

    .publisher-manager-search div button {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
    }

    .publisher-manager-search div button img {
        filter: invert(90%);
    }

    .publisher-manager-header > div:last-child {
        flex: 0 0 40%;
    }

    .publisher-manager-list {
        grid-area: blist;
        margin: 1%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: thin;
        justify-items: center;
    }

    .publisher-manager-table {
        width: 95%;
        margin: 1%;
        border-collapse: collapse;
        font-size: 1.1vw;
        text-align: center;
        box-shadow: 0.2vw 0.2vw 0.5vw gray;
        table-layout: fixed;
    }

    .publisher-manager-table th, 
    .publisher-manager-table td {
        padding: 1% 0%;
        overflow: auto;
        scrollbar-width: thin;
    }

    .publisher-manager-table th {
        border-bottom: solid 0.1vw #212529;
    }

    .publisher-manager-table td {
        border-bottom: solid 0.05vw #adb5bd;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .publisher-manager-table th:first-child {
        width: 5%;
    }

    .publisher-manager-table th:nth-child(2) {
        width: 15%;
    }

    .publisher-manager-table th:nth-child(3) {
        width: 25%;
    }

    .publisher-manager-table th:nth-last-child(3) {
        width: 15%;
    }

    .publisher-manager-table th:nth-last-child(2) {
        width: 20%;
    }

    .publisher-manager-table th:last-child {
        width: 20%;
    }
    
    .publisher-manager-table tbody tr:hover {
    	outline: 0.15vw solid gray;
    }

    .publisher-manager-table tbody tr:nth-child(odd) {
        background-color: #e9ecef;
    }

    .publisher-manager-table td:last-child a {
        text-decoration: none;
        font-size: 1.1vw;
        color: white;
        padding: 3.5% 7%;
        border-radius: 0.2vw;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
    }

    .publisher-manager-table td:last-child a:first-child {
        background-color: #0d6efd;
        &:hover {
            background-color: #0b5ed7;
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    .publisher-manager-table td:last-child a:last-child {
        background-color: rgb(220, 53, 69);
        &:hover {
            background-color: rgb(180, 40, 55);
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    footer {
        grid-area: footer;
        text-align: center;
        font-size: 1.2vw;
        align-content: center;
        color: #ecf0f1;
    }
}