@charset "UTF-8";

body {
    background-color: rgba(38, 38, 38);
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header main'
            'nav main'
            'footer footer'
        ;
        grid-template-rows: 1fr 9fr 1fr;
        grid-template-columns: 1fr 4fr;
        user-select: none;
    }

    header {
        grid-area: header;
        display: flex;
    }

    header h1 {
        flex: 0 0 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        color: #ecf0f1;
    }

    .side-navbar {
        grid-area: nav;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    .side-navbar hr {
        width: 90%;
    }

    .side-navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: none;
        justify-items: center;
    }

    .side-navbar li:not(.welcome-user) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        cursor: pointer;
        align-content: center;
        display: flex;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
            background-color: #495057;
            box-shadow: 5px 5px 10px #212529;
            transition: background-color 0.2s, box-shadow 0.2s;
        }
    }

    .side-navbar li:nth-child(2) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        align-content: center;
        display: flex;
    }

    .side-navbar li a {
        color: #ecf0f1;
        text-decoration: none;
        text-indent: 5%;
        letter-spacing: 0.05vw;
        flex: 0 0 90%;
        align-content: center;
    }

    .side-navbar li div {
        flex: 0 0 10%;
        text-align: center;
        align-content: center;
    }

    .side-navbar li img {
        margin-top: 20%;
        margin-left: 20%;
        filter: invert(90%);
    }

    main {
        grid-area: main;
        background-color: #ecf0f1;
        justify-items: center;
        align-content: center;
        min-width: 0;
    }

    .form-container {
        width: 97%;
        height: 94%;
        box-shadow: 0.8vw 0.8vw 0.4vw gray;
        background-color: #333333;
        border-radius: 0.5vw;
        overflow: hidden;
        color: white;
        font-family: sans-serif;
        font-size: 1vw;
        display: flex;
        flex-direction: column;
    }

    .form-container > div:first-child {
        flex: 0 0 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-input-group {
        flex: 0 0 15%;
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .form-input-group label {
        flex: 0 0 35%;
        align-content: center;
        letter-spacing: 0.05vw;
    }

    .form-input-group label img {
        width: 1vw;
        height: 1vw;
        margin-left: 0.2vw;
        filter: invert(90%);
        position: relative;
    }

    .form-input-group input {
        flex: 0 0 20%;
        font-size: 1.1vw;
        padding: 0.5vw;
        border-radius: 0.3vw;
        border: none;
        outline: none;
        &:focus {
            outline: 0.3vw solid rgba(49, 108, 244, 0.8);
            transition: outline 0.1s;
        }
    }

    .form-container > div:first-child > div:last-child {
        flex: 0 0 30%;
    }

    .form-container > div:last-child {
        flex: 0 0 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-container > div:last-child input {
        font-size: 1.2vw;
        cursor: pointer;
        border: none;
        height: 50%;
    }

    .form-container > div:last-child a {
        text-decoration: none;
        font-size: 1.2vw;
        align-content: center;
        height: 37.5%;
    }

    .form-container > div:last-child input,
    .form-container > div:last-child a {
        margin: 0% 0.5%;
        color: white;
        background-color: #0d6efd;
        padding: 0.5% 2%;
        border-radius: 0.3vw;
        transition: color 0.2s background-color 0.2s;
        &:hover {
            background-color: #0b5ed7;
            color: #e2e6ea;
            transition: color 0.2s background-color 0.2s;
        }
    }

    footer {
        grid-area: footer;
        text-align: center;
        font-size: 1.2vw;
        align-content: center;
        color: #ecf0f1;
    }
}