@charset "UTF-8";

body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

@media only screen and (min-width: 1024px) {

    .recovery-form {
        position: absolute;
        top: 15%;
        left: 35%;
        width: 30%;
        height: 70%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 8px 8px 8px gray;
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        row-gap: 2%;
        user-select: none;
    }

    .recovery-form h2 {
        margin: 0;
        flex: 0 0 15%;
        text-align: center;
        font-style: italic;
        align-content: center;
    }

    .recovery-input-group {
        flex: 0 0 12%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;

    }

    .recovery-input-group label {
        flex: 0 0 40%;
        font-size: 13px;
        align-content: center;
    }

    .recovery-input-group label img {
        margin: -1% 0%;
    }

    .recovery-input-group input {
        flex: 0 0 50%;
        border: solid 1px;
        border-color: gray;
        border-radius: 2px;
        text-indent: 1.45%;
        outline: none;
    }

    .recovery-form > div:nth-child(3) div {
        flex: 0 0 60%;
        display: flex;
    }

    .recovery-form > div:nth-child(3) div input {
        flex: 0 0 70%;
        border-color: gray;
        text-indent: 2%;
    }

    .recovery-form > div:nth-child(3) div hr {
        flex: 0 0 2%;
        visibility: hidden;
    }

    #code {
        flex: 0 0 25%;
        cursor: pointer;
        font-size: 12px;
        color: #0d6efd;
        background-color: white;
        border: solid 1px;
        border-radius: 2px;
        transition: color 0.2s, background-color 0.2s;
        &:disabled {
            cursor: not-allowed;
            color: gray;
            border-color: gray;
        }
    }

    .recovery-form > p {
        flex: 0 0 4%;
        margin: 0;
        width: 80%;
        margin: 0 auto;
        font-size: 13px;
        color: red;
        align-content: center;
    }

    .recovery-form > div:nth-last-child(2) {
        flex: 0 0 8%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recovery-form > div:nth-last-child(2) button {
        height: 100%;
        padding: 0% 4%;
        color: white;
        background-color: #0d6efd;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        &:hover {
            color : #e2e6ea;
            background-color: #0b5ed7;
            transition: color 0.2s, background-color 0.2s;
        }
    }

    .recovery-form > div:last-child {
        flex: 0 0 11%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }

    .recovery-form > div:last-child a {
        color: black;
        transition: color 0.2s;
        &:hover {
            color: orange;
            transition: color 0.2s;
        }
    }

}