@charset "UTF-8";

body {
    background-color: rgba(38, 38, 38);
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {

    .container {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas: 
            'header main'
            'nav main'
            'footer footer'
        ;
        grid-template-rows: 1fr 9fr 1fr;
        grid-template-columns: 1fr 4fr;
        user-select: none;
    }

    header {
        grid-area: header;
        display: flex;
    }

    header h1 {
        flex: 0 0 100%;
        text-align: center;
        align-content: center;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 2.5vw;
        letter-spacing: 0.2vw;
        color: #ecf0f1;
    }

    .side-navbar {
        grid-area: nav;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    .side-navbar hr {
        width: 90%;
    }

    .side-navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: none;
        justify-items: center;
    }

    .side-navbar li:not(.welcome-user) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        cursor: pointer;
        align-content: center;
        display: flex;
        transition: background-color 0.2s, box-shadow 0.2s;
        &:hover {
            background-color: #495057;
            box-shadow: 5px 5px 10px #212529;
            transition: background-color 0.2s, box-shadow 0.2s;
        }
    }

    .side-navbar li:nth-child(2) {
        width: 95%;
        margin: 2% 0%;
        height: 10%;
        align-content: center;
        display: flex;
    }

    .side-navbar li a {
        color: #ecf0f1;
        text-decoration: none;
        text-indent: 5%;
        letter-spacing: 0.05vw;
        flex: 0 0 90%;
        align-content: center;
    }

    .side-navbar li div {
        flex: 0 0 10%;
        text-align: center;
        align-content: center;
    }

    .side-navbar li img {
        margin-top: 20%;
        margin-left: 20%;
        filter: invert(90%);
    }

    main {
        grid-area: main;
        background-color: white;
    }

    .shipping-manager-container {
        position: relative;
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        display: grid;
        grid-template-areas: 
            'bheader'
            'blist'
        ;
        grid-template-rows: 1fr 7fr;
    }

    .shipping-manager-header {
        grid-area: bheader;
        display: flex;
        background-color: rgba(51, 51, 51);
    }

    .shipping-manager-list {
        grid-area: blist;
        margin: 1%;
        min-height: 0;
        overflow-y: auto;
        scrollbar-width: thin;
        justify-items: center;
    }

    .shipping-manager-table {
        width: 95%;
        margin: 1%;
        border-collapse: collapse;
        font-size: 1.1vw;
        text-align: center;
        box-shadow: 0.2vw 0.2vw 0.5vw gray;
        table-layout: fixed;
    }

    .shipping-manager-table th, 
    .shipping-manager-table td {
        padding: 1% 0%;
        overflow: auto;
        scrollbar-width: thin;
    }

    .shipping-manager-table th {
        border-bottom: solid 0.1vw #212529;
    }

    .shipping-manager-table td {
        padding: 0.5% 0%;
        border-bottom: solid 0.05vw #adb5bd;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .shipping-manager-table th:first-child {
        width: 12.5%;
    }

    .shipping-manager-table th:nth-child(2) {
        width: 12.5%;
    }

    .shipping-manager-table th:nth-child(3) {
        width: 15%;
    }
    
    .shipping-manager-table th:nth-last-child(4) {
        width: 15%;
    }

    .shipping-manager-table th:nth-last-child(3) {
        width: 15%;
    }

    .shipping-manager-table th:nth-last-child(2) {
        width: 15%;
    }

    .shipping-manager-table th:last-child {
        width: 15%;
    }
    
    .shipping-manager-table tbody tr:hover {
    	outline: 0.15vw solid gray;
    }

    .shipping-manager-table tbody tr:nth-child(odd) {
        background-color: #e9ecef;
    }

    .shipping-manager-table td:last-child button {
        text-decoration: none;
        font-size: 1.1vw;
        color: white;
        padding: 3.5% 7%;
        border: none;
        border-radius: 0.2vw;
        background-color: #0d6efd;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: #0b5ed7;
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
        &:disabled {
        	color: #e2e6ea;
        	background-color: lightgray;
        	cursor: default;
        }
    }

    .shipping-update-form {
        position: absolute;
        top: 20%;
        margin: 0 auto;
        width: 30%;
        height: 60%;
        background-color: white;
        border-radius: 0.5vw;
        box-shadow: -0.1vw 0vw 2vw gray;
        display: none;
        flex-direction: column;
    }

    .shipping-update-form h3 {
        flex: 0 0 15%;
        text-align: center;
        align-content: center;
        margin: 0;
    }

    .shipping-info-group {
        flex: 0 0 20%;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .shipping-info-group label {
        flex: 0 0 40%;
        align-content: center;
        font-size: 0.9vw;
    }

    .shipping-info-group input {
        flex: 0 0 40%;
        border-radius: 0.2vw;
        border: solid 0.1vw gray;
        outline: none;
        text-indent: 1%;
    }

    .shipping-info-group select {
        flex: 0 0 50%;
        border-radius: 0.2vw;
        border: solid 0.1vw gray;
        text-indent: 1%;
        &:focus {
            outline: 0.2vw solid rgba(34, 124, 243, 0.7);
            border-color: rgba(34, 124, 243, 0.7);
        }
    }

    .shipping-update-form > div:last-child {
        flex: 0 0 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shipping-update-form > div:last-child button {
        height: 40%;
        font-size: 1vw;
        padding: 0% 4%;
        margin: 0% 1%;
        cursor: pointer;
    }

    .shipping-update-form > div:last-child button:first-child {
        background-color: #198754;
        color: white;
        border: none;
        border-radius: 0.2vw;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: #157347;
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    .shipping-update-form > div:last-child button:last-child {
        background-color: #dc3545;
        color: white;
        border: none;
        border-radius: 0.2vw;
        transition: background-color 0.2s, color 0.2s;
        &:hover {
            background-color: #bb2d3b;
            color: #e2e6ea;
            transition: background-color 0.2s, color 0.2s;
        }
    }

    footer {
        grid-area: footer;
        text-align: center;
        font-size: 1.2vw;
        align-content: center;
        color: #ecf0f1;
    }
}